# Run "pip3 install -r requirements.txt" to install all following requirements
# If there are missing modules after this, install them the way that suits your operating system
pygame
numpy
scipy
matplotlib

